


<aside class="page_aside" style="background-color: #211A46;" role="complementary">
    <div class="page_aside_pos fixe">
        <div class="aside_menu">
           
            </div><!--/aside_menu-->
                                <div class="aside_actions">
                                                <a href="{% url 'app:inscription' %}" class="cta cta_btn withe"><svg class="Icon icon_fleche" aria-hidden="true"><use xlink:href="#icon_fleche4"></use></svg>S'inscrire</a>
                                                <a href="https://www.eicar.fr/lecole/faq/" class="cta_btn border_white">J'ai une question</a>
                                        </div>
                        </div><!--/page_aside_pos-->
</aside>