<aside class="page_aside" style="background-color: #211A46;" role="complementary">
    <div class="page_aside_pos fixe">
        <div class="aside_menu">
            <ul class="anchors-list">
                <li class="anchors-list-item" style="background-color: #BF1649;"><span style="transform: translate(0%, 0px);"></span>
                    <a href="#anchor1">Présentation</a></li>
                    <li class="anchors-list-item" style="background-color: #BF1649;"><span style="transform: translate(0%, 0px);"></span>
                        <a href="#anchor2">Voir Formations</a>
                    </li>
                </ul>
            </div><!--/aside_menu-->
                                <div class="aside_actions">
                                                <a href="{% url 'app:inscription' %}" class="cta cta_btn withe"><svg class="Icon icon_fleche" aria-hidden="true"><use xlink:href="#icon_fleche4"></use></svg>S'inscrire</a>
                                        </div>
                        </div><!--/page_aside_pos-->
</aside>